input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[name="search"]:focus{
 	outline: none;
}

table > tbody > *:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.075);
}