<nav>
	<div>
		<a href="home.php">
			<small>
				<i class="fas fa-home me-4"></i>
				<span class="hidable">
					HOME
				</span>
			</small>
		</a>
	</div>

	<div>
		<a onclick="DD_Nav('DD_SALES_Nav');">
			<small>
				<i class="fas fa-shopping-cart me-4"></i>
				<span class="hidable">
					SALES
					<i class="fas fa-chevron-right"></i>
				</span>
			</small>
		</a>
		<div id="DD_SALES_Nav">
			<a href="customers.php">
				<small class="ps-4">
					CUSTOMERS
				</small>
			</a>
			<a href="quotes.php">
				<small class="ps-4">
					QUOTES
				</small>
			</a>
			<a href="invoices.php">
				<small class="ps-4">
					INVOICES
				</small>
			</a>
			<a href="soa.php">
				<small class="ps-4">
					STATEMENT OF ACCOUNT
				</small>
			</a>
			<a href="contracts.php">
				<small class="ps-4">
					CONTRACTS
				</small>
			</a>
		</div>
	</div>
		
	<div>
		<a onclick="DD_Nav('DD_PURCHASES_Nav');">
			<small>
				<i class="fas fa-shopping-bag me-4"></i>
				<span class="hidable">
					PURCHASES
					<i class="fas fa-chevron-right"></i>
				</span>
			</small>
		</a>
		<div id="DD_PURCHASES_Nav">
			<a href="vendor.php">
				<small class="ps-4">
					VENDORS
				</small>
			</a>
			<a href="pos.php">
				<small class="ps-4">
					PURCHASE ORDERS
				</small>
			</a>
			<a href="jos.php">
				<small class="ps-4">
					JOB ORDERS
				</small>
			</a>
		</div>
	</div>

	<div>
		<a href="reports.php">
			<small>
				<i class="far fa-chart-bar me-4"></i>
				<span class="hidable">
					REPORTS
				</span>
			</small>
		</a>
	</div>

	<div class="nav_footer">
		<i onclick="navigation_hideable();" class="fas fa-chevron-left"></i>
	</div>
</nav>